.home-container {
    padding: 20px;
    background-color: #FDFBF7; 
    color: #2E2E2E; 
  }
  
  .home-container input,
  .home-container select {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 1px solid #AFA28C; 
    border-radius: 4px;
    background-color: #F5F1E3; 
    color: #2E2E2E; 
  }
  
  .home-container button {
    padding: 10px 20px;
    background-color: #382110; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .home-container button:hover {
    background-color: #4f2d1c; 
  }
  
  .book-list {
    list-style-type: none;
    padding: 0;
  }
  
  