.edit-book-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #FDFBF7; /* Light Beige background */
    color: #2E2E2E; /* Dark Gray text */
  }
  
  .edit-book-container h2 {
    text-align: center;
    color: #382110; /* Warm Brown */
  }
  