body {
  font-family: Arial, sans-serif;
  background-color: #FDFBF7; 
  color: #2E2E2E; 
}

a {
  color: #382110; 
  text-decoration: none;
}

a:hover {
  color: #4f2d1c; 
}

button {
  background-color: #382110; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4f2d1c; 
}
